
// Declaracion de Variable



// Uso de CSS

* {
	margin: 0px;
	padding: 0px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box; /* Firefox */ 
	-webkit-box-sizing:border-box; /* Safari */
	text-decoration: none;
}

html{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
}

body{
	background: url(../img/fondo.png) no-repeat fixed center top;
    background-size: cover;
    min-height: 100%;
}

li{
	list-style: none;
}

.content{
	max-width: 1000px;
	margin: 0em auto 1em auto;
}

.fila{
	display: flex;
	width: 100%;
}

@for $i from 1 through 100 {
	.size-#{$i} {
		float: left;
		width: #{$i}%;
	}
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.center {
	text-align: center;
}

.logo{
	max-width: 80px;
}

// MENU

.content-menu{
	width: 100%;
	height: 31px;
    background: #003951;
}

.menu{
	width: 960px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.menu ul{
	display: block;
    list-style-type: none;


    li{
    	float: left;
    	list-style: none;
    	margin: 5px;
    }

}

.buscar{
	padding: 5px;
	
	span.separator::before{
		content: "";
		width: 1px;
	}

	.input-buscar{
		height: 16px;
    	padding: 0px 5px;
	}

	.btn-buscar{
		width: 61px;
	    height: 20px;
	    background: #00708C;
	    border: none;
	    font-weight: bold;
	    color: #FFF;
	    font-size: 0.85em;
	    margin: 0em .3em;
	}

}


.header{
	
	padding: 1em 1em;
	background-color: white;

	.title-one{
		margin: auto 0px;
		text-align: left;
	}

	.title-two{
		margin: auto 0px;
		text-align: right;
	}
}


.content-slider{
	.slider img{
		width: 100%;
		height: 180px;
	}
	margin-bottom: -3px;
}

.menu-2{
    background: #003951;

	.list-menu{
		margin: 0px auto;
		padding: 1em 0em;
	}

    ul li{
	    float: left;
	    background-position: 0 7px;
	    margin-right: 4px;

	    a{
	    	color: rgb(255, 255, 255);
			font-size: 0.9em;
			margin: 0px 5px;
	    }

	    a::before{
	    	content: url(../img/item-li.png);
		    margin-right: 5px;
		    vertical-align: bottom;
	    }
    }
}

.content-article{
	background: white;
	height: 100%;

	.menu-3{
	    margin-left: -10px;
	    margin-right: 10px;
	    box-shadow: rgb(153, 153, 153) 10px 10px 5px;
	    background: rgb(0, 112, 140);
	    padding: 10px;
	    border-radius: 10px;

	    .list-menu{
		    padding-top: 10px;
		    padding-bottom: 25px;
		    background: rgb(0, 57, 81);
		    a {
		    	color: white;
		    	min-height: 10px;
			    display: block;
			    margin-top: 13px;
			    padding: 0 15px 0 20px;
			    font-size: 14px;
			    clear: both;
		    }
	    }
	}
}
