doctype
html
	head
		title Sitio web del municipio El Bagre en Antioquia
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		link(rel="stylesheet", href="css/style.css")
	body
		.content-menu
			.menu
				.size-50
					ul
						li Inicio
						li Mapa de Sitio
						li Idioma
				.size-50.right
					.buscar
						span |
						input(type="text", name="buscar", placeholder="Buscar").input-buscar
						input(type="button", value="Buscar").btn-buscar
						span |
		.content
			.header.fila
				.size-10
					img(src="img/logo.jpg", alt="Logotipo").logo
				.size-50.title-one
					p
						h3.title Alcaldía de El Bagre - Antioquia
						span.subtitle ANGEL MESA CASTRO ALCALDE¨Alianza para la Transformación Social¨
				.size-30.title-two
					p Sitio oficial de El Bagre en Antioquia, Colombia
				.size-10
					img(src="img/escudo.jpg", alt="Logotipo").logo
			.fila.content-slider
				.size-100.slider
					img(src="img/slider/slider1.jpg", alt="Logotipo")
			.menu-2.fila.left
				.list-menu
					ul
						li: a(href="#") Nuestra Alcaldía
						li: a(href="#") Trámites y servicio
						li: a(href="#") Planeacion y ejecución
						li: a(href="#") Presupuesto y finanzas
						li: a(href="#") Participación
						li: a(href="#") Atencion a la ciudadania
			.content-article.fila
				.size-25
					.menu-3
						.list-menu
							ul
								li: a(href="#") Presentación
								li: a(href="#") Nuestro municipio
								li: a(href="#") El Bagre le informa
								li: a(href="#") Contratación
								li: a(href="#") Normatividad
								li: a(href="#") Sistema general de regalías
								li: a(href="#") Otras entidades del municipio
								li: a(href="#") Órganos de control
								li: a(href="#") Instancias de participación ciudadana
								li: a(href="#") Rendición de cuentas
								li: a(href="#") Transparencia y acceso a información pública
								li: a(href="#") Para niños y niñas
								li: a(href="#") Correo electrónico institucional
				.size-70
					p asdasd


