doctype
html
	head
		title Alcaldía de El Bagre - Antioquia
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		link(rel="stylesheet", href="css/style.css")
	body
		.content-menu
			.menu
				.size-50
					ul
						li Inicio
						li Mapa de Sitio
						li Idioma
				.size-50
					.buscar
						span |
						input(type="text", name="buscar", placeholder="Buscar").input-buscar
						input(type="button", value="Buscar").btn-buscar
						span |
		.content 
			img(src="img/logo.jpg", alt="Logotipo").logo